html {
  box-sizing: border-box;
  font-family: 'sofia-pro', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}

.home {
  margin: 0;
  color: #fff;
}

h1 {
  font-family: "sofia-pro", sans-serif;
  font-weight: 300;
  padding-bottom: 0;
  padding-left: 2em;
}

h2 {
  font-family: "sofia-pro", sans-serif;
  margin-left: 2em;
  padding-left: 1.5em;
  padding-top: 1em;
  font-weight: 300;
}

.logo {
  margin-top: .5em;
  margin-left: .5em;
  max-width: 100% auto;
  min-width: 30%;
  text-align: center;
}

nav {
  z-index: 2;
  /*position: fixed;*/
  width: 100%;
  border-bottom: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #999;
  border-style: solid;
  background-color: #fff;
  box-shadow: 0px 1px 10px #888888;
}

ul .nav-social {
  right: 10px
}

li a {
  display: block;
  text-decoration: none;
  list-style-type: none;
  color: #2e2a25;
  text-align: center;
  margin-top: 1em;
}

li a:hover {
  display: block;
  text-decoration: none;
  list-style-type: none;
  color: #888;
}

.banner {
  position: relative;
  text-align: left;
}

.banner img {
  width: 100%;
}

.banner-content {
  position: absolute;
  bottom: 4em;
  width: 100%;
  padding-left: 1em;
  color: #fff;
}

.contact-button {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  padding: .5em 1em .5em 1em;
  font-family: 'Karla', sans-serif;
  border-style: none;
}

.contact-button:hover {
  color: #fff;
  border-radius: 2px;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;

}

.banner-content p {
  margin-left: 2.75em;
  margin-right: 2.75em;
}

.banner-content a {
  margin-left: 1.75em;
}

@media only screen and (max-width: 533px) {

  .banner-content {
    color: #2e2a25;
    position: static;
  }

  .contact-button {
    color: #2e2a25;
  }

  .contact-button:hover {
    color: #888;
    border-color: #888;
  }

}

.box {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  position: relative;
  background-color: transparent;

}

.about {
  z-index: 1;
}

.about img {
  width: 100%;
}

.portfolio {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  z-index: 1;
}

.more {
  text-decoration: none;
  background-color: transparent;
  color: #2e2a25;
  padding: .5em 1em .5em 1em;
  font-family: 'Karla', sans-serif;
  border-style: solid;
  border-width: 1px;
  margin-left: 1em;
}

.more:hover {
  color: #888;
  border-color: #888;
  border-style: solid;
  border-width: 1px;
}

.c-info a{
  padding-left: 1em;
  text-align: left;
}
