html {
  box-sizing: border-box;
  font-family: "sofia-pro", sans-serif;
  font-weight: 300;
}

*, *::before, *::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

header{
  position: sticky;
	width:100%;
	height:100%;
	line-height:60px;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  left:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:-7px;
  left:0;
  padding:13px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background-color:rgba(0, 0, 0, 0.5);  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; }
.menu ul li a { text-decoration:none;  margin: 0px; color:#000;}
.menu a{text-decoration:none; color:#fff;}
.menu a:hover{text-decoration:none; color:#888;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}

* {
  padding: 0;
  margin: 0
}

.le-bg-w {
  width: 100%;
  position: relative;
}

.le-bg-w > .le-bg {
  background: url("../img/peak-ban.png") center center no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
}

.le-bg-w > .le-bg-ct {
  width: 100%;
  height: 100%;
  position: absolute;
}

.le-bg-w > .le-bg-ct > .le-bg-ct-cr {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.le-bg-w > .le-bg-ct > .le-bg-ct-cr > h1,
.le-bg-w > .le-bg-ct > .le-bg-ct-cr > h2 {
  text-align: center;
}

.le-bg-w > .le-bg-ct > .le-bg-ct-cr > h1 {
  font-size: 48px;
  color: white;
}

.le-bg-w > .le-bg-ct > .le-bg-ct-cr > h2 {
  font-size: 24px;
  color: #cfcfcf;
  font-weight: normal;
}

.le-ct {
  background: white;
  padding: 50px;
  position: relative;
  z-index: 1;
}

.le-ct > h1 {
  font-size: 36px;
  padding-bottom: 20px;
}

.le-ct > .le-ct-tx {
  font-size: 20px;
}

.le-ct > .le-ct-tx > p {
  padding-bottom: 20px;
}

a .icon {
  max-width: 30px;
  padding: 0;
}

.sm {
  text-align: center;
  margin-bottom: .5em;
}

.sm a {
  padding: .5em;
}

.sm a .vi:hover {
   content: url('../img/vi-icon.png');
}

.sm a .be:hover {
   content: url('../img/be-icon.png');
}

.sm a .li:hover {
   content: url('../img/li-icon.png');
}

.sm a .in:hover {
   content: url('../img/in-icon.png');
}
